/*.dummy {
  //dunno why, but link cancels out first element
}*/

html {
    background: url("background1.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  h1 {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5vw;
    text-decoration: none;

  }

  h2, a:visited, a:active, a, p, .there{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 3.8vw;
    text-decoration: none;
  }

  a:hover {
    color: grey;
  }

  .sidemenu {
    position: absolute;
    top: 5%;
    left: 5%;
    margin:auto;
    margin: 0 0 10px 10px;
    width: 90%;
    /*text-align: center*/
  }

  span.spacer {
      margin: 0 7px;
      /*float: left;*/
      margin: 5px;
      padding: 5px;
      color: white;
      font-family: 'Raleway', sans-serif;
      font-size: 3vw;
      text-decoration: none;
  }
  .name {
    position: absolute;
    top: 33%;
    left: 5%;
    margin: 0 0 10px 10px;
  }
  .there {
    color: grey;
  }
  .item1 {
    position: absolute;
    top: 25%;
    right: 5%;
    width: 40%;
    height: 50%;
    background: rgba(0,0,0,0.1);
    color: white;
    padding: 1rem;
    overflow: scroll;
  }
  .responsive {
     float: left;
     margin: 1px;
     padding: 1px;
     /*max-width: 300px;
     height: 300px;*/

  }
